<h1>Hi, <%= @user.username %>. You're Logged In!</h1>
<h2>Add a Coral</h2>
<form action="/user/<%= @user.id %>" method="POST">
    <input type="text" name="post_body" placeholder="Name" required>
    <input type="text" name="post_img" placeholder="Image" required>
    <input type="text" name="post_desc" placeholder="Description" maxlength="50" required>
    <input type="submit" value="add">
</form>

<h2>Your Corals</h2>
<div id="user_content">
        <% @user.posts.each do |post| %>
        <div id="user_post">
            <h2><%= post.post_body %></h2>
            <img src=<%=post.post_img%> alt="coral" id="coral_image">
            <p class="description"><%=post.post_desc%></p>
            <a href="/post/<%= post.id %>">edit</a>
        </div>
        <% end %>
</div>

<h3 id="logout">Click<a href="/logout"> Here</a> to Logout</h3>
