<h1><%= @post.post_body %></h1>
<div id="img_container">
    <img src="<%=@post.post_img%>" class="post_page_img">
</div>
<form action="/post/<%= @post.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" name="edit_body" placeholder="edit title" required>
    <input type="text" name="edit_img" placeholder="edit image">
    <input type="text" name="edit_desc" placeholder="edit description" required>
    <input type="submit" onclick="validateAndSend()" value="edit">
</form>
<form action="/post/<%= @post.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
</form>
<br>
<a href="/user/<%=@user.id%>" class="login_button">Back</a></h3>
<a href="/logout" class="login_button">Logout </a>